<a href="https://colab.research.google.com/github/magfye/Learning-Python/blob/main/P4B_2_15_Hello_World.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
print("Hello world")
print('Hello world')

Hello world
Hello world

In [ ]:
print("She said, 'Hello world'")
print('He said, "Hello world"')

She said, 'Hello world'
He said, "Hello world"

In [ ]:
#this is a comment
print("Comments are very useful!")

Comments are very useful!

In [ ]:
#print a friendly greeting
print("Hello world")

Hello world

In [ ]:
#forgetting quotes
print(Hello world)

SyntaxError: ignored

In [ ]:
#spelling mistake
prin("Hello world")

NameError: ignored

In [ ]:
#splitting a statement over two lines
print("Hello
world")

SyntaxError: ignored

In [ ]:
#printing special characters
#how to include a newline in the middle of a string
print("Hello\nworld")

Hello
world

In [ ]:
#sorting strings in variables
#store a short DNA sequence in the variable my_dna
my_dna = "ATGCGTA"

#now print the DNA sequence
print(my_dna)

ATGCGTA

In [ ]:
#common error: include quotes around a variable name
print("my_dna")

my_dna

In [ ]:
#change the value of a variable as many times as you like once you've created it 
my_dna = "ATGCGTA"
print(my_dna)

#change the value 
my_dna = "TGGTCCA"
print(my_dna)

ATGCGTA
TGGTCCA

In [ ]:
#variable name doesn't matter
banana = "ATGCGTA"
print(banana)

ATGCGTA

In [ ]:
#Concatenation
my_dna = "AATT" + "GGCC" 
print(my_dna)

AATTGGCC

In [ ]:
upstream = "AAA" 
my_dna = upstream + "ATGC" 
print(my_dna)

AAAATGC

In [ ]:
upstream = "AAA"
downstream = "GGG"
my_dna = upstream + "ATGC" + downstream
print(my_dna)

AAAATGCGGG

In [4]:
print("Hello" + " " + "World")

Hello World

In [6]:
#This line won't produce any output, just a value that can be stored  
len("ATGC")

4

In [7]:
dna_length = len("ATGC")
print(dna_length)

4

In [12]:
#store the DNA sequence in a variable 
my_dna = "ATGCATC"
#calculate the length of the sequence and store it in a variable
dna_length = len(my_dna)
#print a message telling us the dna sequence length 
print("The length of the DNA sequence is " + str(dna_length))
print("The length of the DNA sequence is", dna_length)

The length of the DNA sequence is 7
The length of the DNA sequence is 7

In [13]:
my_dna = "ATGC"
#print in lowercase
print(my_dna.lower())

atgc

In [14]:
my_dna = "ATGC"
#print the variable 
print(my_dna)
#run lower method and store result 
dna_lower = my_dna.lower()
#print the variable again
print(my_dna)
print(dna_lower)

ATGC
ATGC
atgc

In [15]:
#the lower method only works on str; you can only use methods on the type they belong to 
my_number = len("ATGC")
#my number is 4 
prin(my_number.lower())

NameError: ignored

In [16]:
#replace method 
protein = "vlsadwg"
print(protein)
#replace the valine with tyrosine
print(protein.replace("v","y"))
#can also replace more than one character
print(protein.replace("vls","ymt"))
#again, the original variable is not affected 
print(protein)

vlsadwg
ylsadwg
ymtadwg
vlsadwg

In [17]:
#substring extracts part of a string
protein = "vlspadktnv"
#print positions 3 to 5 
print(protein[3:5])
#positions start at 0, not 1 
print(protein[0:6])
#if we want to use a stop position beyond the end, it's the same as using the end 
print(protein[0:60])

pa
vlspad
vlspadktnv

In [18]:
protein = "vlspadktnv"
print(protein[0])

v

In [20]:
#counting and finding substrings using method count 
#count uses strings but returns a number
protein = "vlspadktnv"
#count amino acid residues 
valine_count = protein.count('v')
lsp_count = protein.count('lsp')
tryptophan_count = protein.count('w')

#now print the counts 
print("valine: " + str(valine_count))
print("lsp: " + str(lsp_count))
print("tryptophan: " + str(tryptophan_count))

valine: 2
lsp: 1
tryptophan: 0

In [21]:
#find method locates substrings, giving the index of it 
protein = "vlspadktnv"
print(str(protein.find('p')))
print(str(protein.find('kt')))
print(str(protein.find('w')))
#for a value that doesn't exist like w, we get a -1

3
6
-1

In [31]:
dna_sequence = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
#write a program that will print out the AT content of this sequence 
print(dna_sequence[0] + dna_sequence[2] + dna_sequence[4:5] + dna_sequence[8:11])

#solution:
#formula for calculating AT content 
dna_sequence_length = len(dna_sequence)
A_count = dna_sequence.count('A')
T_count = dna_sequence.count('T')
print("The percentage of AT in this sequence is " + str((A_count + T_count)/dna_sequence_length*100) + "%")

ATAATT
The percentage of AT in this sequence is 68.51851851851852%

In [4]:
#Complementing DNA 
dna_sequence = "ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT"
#Write a program that will print the complement of this sequence 
complement1 = dna_sequence.replace('A','t')
complement2 = complement1.replace('T','a')
complement3 = complement2.replace('C','g')
complement4 = complement3.replace('G','c')
print(dna_sequence)
print(complement4.upper())

ACTGATCGATTACGTATAGTATTTGCTATCATACATATATATCGATGCGTTCAT
TGACTAGCTAATGCATATCATAAACGATAGTATGTATATATAGCTACGCAAGTA

In [9]:
#Restriction Fragment Lengths 
dna_sequence = "ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT"
#The sequence contains a recognition site for the EcoRI restriction enzyme, which
#cuts at the motif G*AATTC (the position of the cut is indicated by an asterisk).
#Write a program which will calculate the size of the two fragments that will be
#produced when the DNA sequence is digested with EcoRI.

#First splice out the segment before AATTC 
cut_site = dna_sequence.find("GAATTC")
print(cut_site)
splice1 = dna_sequence[0:22]
print(splice1)
print("The length of fragment 1 is " + str(len(splice1)))
splice2 = dna_sequence[23:100]
print(splice2)
print("The length of fragment 2 is " + str(len(splice2)))

21
ACTGATCGATTACGTATAGTAG
The length of fragment 1 is 22
ATTCTATCATACATATATATCGATGCGTTCAT
The length of fragment 2 is 32

In [10]:
#Alternate solution to the previous 
my_dna = "ACTGATCGATTACGTATAGTAGAATTCTATCATACATATATATCGATGCGTTCAT"
frag1_length = my_dna.find("GAATTC") + 1
frag2_length = len(my_dna) - frag1_length
print("length of fragment one is " + str(frag1_length))
print("length of fragment two is " + str(frag2_length))

length of fragment one is 22
length of fragment two is 33

In [15]:
#Splicing out introns, part 1 
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
#It comprises two exons and an intron. The first exon runs from the start of the
#sequence to the sixty-third character, and the second exon runs from the ninetyfirst character to the end of the sequence. 
#Write a program that will print just the
#coding regions of the DNA sequence
exon1 = my_dna[0:62]
exon2 = my_dna[90:1000]
print(exon1 + exon2)

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCATCGATCGATATCGATGCATCGACTACTAT

In [21]:
#Splicing out introns, part 2 
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"
#write a program that will calculate what percentage
#of the DNA sequence is coding.
exon1 = my_dna[0:62]
exon2 = my_dna[90:1000]

#need to make a count of exon1 + exon2 using len, then a count of the total sequence length and divide the first by the second and multiply by 100 
coding = len(exon1) + len(exon2)
total = len(my_dna)
coding_percent = coding/total
print("The percentage of the DNA that is coding is " + str(coding_percent*100))

The percentage of the DNA that is coding is 77.23577235772358

In [25]:
#Splicing out introns, part 3
#Using the data from part one, write a program that will print out the original
#genomic DNA sequence with coding bases in uppercase and non-coding bases in
#lowercase. 
my_dna = "ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGATCGATCGATCGATCGATCGATCATGCTATCATCGATCGATATCGATGCATCGACTACTAT"

exon1 = my_dna[0:62]
exon2 = my_dna[90:1000]
intron1 = my_dna[62:90]
print(exon1 + intron1.lower() + exon2)

#or avoid variables altogether 
print(my_dna[0:62] + my_dna[62:90].lower() + my_dna[90:10000])

ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGatcgatcgatcgatcgatcgatcatgctATCATCGATCGATATCGATGCATCGACTACTAT
ATCGATCGATCGATCGACTGACTAGTCATAGCTATGCATGTAGCTACTCGATCGATCGATCGatcgatcgatcgatcgatcgatcatgctATCATCGATCGATATCGATGCATCGACTACTAT